.homepage-container {
    display: flex;
    height: 100vh; /* 100 viewport height, yani ekranın tamamını kapla */
}



.img img {
    height: 200px;


}

.content {
    display: flex;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: fit-content;
    height: auto;
    background: white;
    border-radius: 6px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 59px;
    color: #ffffff;
    background: #2d2d2d; /* Koyu gri tonu */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 40px;
    cursor: pointer;
    border: 3px solid #868686;
    text-decoration: none;
}

.button:hover {
    background: #424242; /* Hafif daha açık gri tonu */
}


.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.success {
    background-color: #4CAF50; /* Yeşil renk */
    color: white;
}

.error {
    background-color: #f44336; /* Kırmızı renk */
    color: white;
}


.admin-panel{
    text-decoration: none;
    color: #fdcc09;
    font-weight: bold;

}