.homepage-container {
    display: flex;
    height: 100vh; /* 100 viewport height, yani ekranın tamamını kapla */
}

.sidebar {
    width: 300px;
    background-color: #43766C;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.img img {
    height: 200px;


}

.content {
    display: flex;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: fit-content;
    height: auto;
    background: white;
    border-radius: 6px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 59px;
    color: white;
    background: #A25772;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 40px;
    cursor: pointer;
}

.button:hover{
    background-color: #602439;
}

.add-container{
    text-decoration: none;
}