/* Profile.css */
.profile-container {
    display: flex;
    height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #1a1a1a; /* Koyu arka plan rengi */
    color: #fff; /* Beyaz metin rengi */
}

.profile {
    background-color: #2a2a2a; /* Koyu arka plan rengi */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.profile h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #fff; /* Beyaz başlık rengi */
}

.profile-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.profile-details div {
    padding: 15px;
    background-color: #333; /* Koyu içerik kutusu rengi */
    border-radius: 8px;
}

.profile-details strong {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff; /* Beyaz metin rengi */
}

.password-change-section {
    display: flex; /* veya display: grid; */
    justify-content: flex-start;
    /* veya justify-content: start; */
}

.password-change-section p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.password-change-section label {
    display: block;
    margin-bottom: 5px;
}

.password-change-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    box-sizing: border-box;

}

.password-change-section button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 14px 25px;
    font-size: 16px;
    cursor: pointer;
    height: fit-content;
    margin-top: 12px;
    border-radius: 6px; /* Daha küçük bir border-radius ekleyebilirsiniz */
}

.password-change-section button:hover {
    background-color: #45a049;
}

input[type='password'] {
    font-family: Verdana;
    letter-spacing: 0.125em
}