

.input input[type='radio'] {
    box-sizing: content-box;
    margin-right: 25px;
}

.input p {
    font-family: Verdana;
    font-weight: bold;
    letter-spacing: 0.125em;
    margin-right: 15px;
    color: #949494;
}

.input {
    background-color: #ffffff;
    width: 290px;
    height: auto;
}

.address {
    height: 100px;
}