.AdminDashboard {
    display: flex;
    height: 100vh; /* 100 viewport height, yani ekranın tamamını kapla */
}

.ListUsers {
    display: flex;
    height: 100vh; /* 100 viewport height, yani ekranın tamamını kapla */
}


.AdminSidebar {
    width: 300px;
    background-color: #43766C;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.button:hover{
    background-color: #602439;
}

.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.success {
    background-color: #4CAF50; /* Yeşil renk */
    color: white;
}

.error {
    background-color: #f44336; /* Kırmızı renk */
    color: white;
}

